.dashboard {
    background-color: #EAE7DC;
    height: 100vh;

    .main-layout {
        display: flex;
        justify-content: space-between;
        padding: 2vw 4vw;
        height: 100%;
    }
}